<link rel="import" href="../../../../../packages/polymer/polymer.html">
<link rel="import" href="../../../../../packages/core_elements/core_icon.html">
<link rel="import" href="../../../../../packages/core_elements/core_icons.html">
<link rel="import" href="../../../../../packages/core_elements/core_label.html">
<link rel="import" href="../../../../../packages/paper_elements/paper_icon_button.html">

<polymer-element name="now-playing">
    <template>
        <style>
            :host {
                position: fixed;
                bottom: 0;
                left: 0;
                z-index: 998;
                display: block;
                width: 100%;
                height: 54px;
                background-color: #f5f5f5;
                border-top: #a8a8a8 1px solid;
            }

            :host img#now-playing-album-art {
                width: 54px;
                height: 54px;
                display: block;
            }

            :host div#now-playing-information {
                margin-left: 10px;
                font-size: 0.7em;
            }

            :host div#now-playing-information core-label {
                height: 13px;
                display: block;
            }

            :host div#now-playing-controls {
                height: 54px;
            }

        </style>
        <audio id="playingSong" _src="http://192.168.0.12:5000/static/media/private/music/{{currentSong.id}}.mp3" hidden autoplay="false"></audio>
        <div horizontal center justified layout>
            <img _src="{{shortInfo['album_image_url']}}" class="semi-hidden" id="now-playing-album-art"/>
            <div flex four id="now-playing-information">
                <core-label>{{shortInfo["title"]}}</core-label>
                <core-label>{{shortInfo["artist_name"]}}</core-label>
                <core-label>{{shortInfo["album_title"]}}</core-label>
            </div>

            <div id="now-playing-controls" horizontal center justified layout>
                <paper-icon-button icon="fa:step-backward" on-click="{{playPrevious}}"></paper-icon-button>
                <paper-icon-button icon="fa:{{playStateIcon}}" on-click="{{togglePlayState}}"></paper-icon-button>
                <paper-icon-button icon="fa:step-forward" on-click="{{playNext}}"></paper-icon-button>
            </div>
        </div>
    </template>
    <script type="application/dart" src="now-playing.dart"></script>
</polymer-element>