<link rel="import" href="../../../../../packages/polymer/polymer.html">
<link rel="import" href="../../../../../packages/core_elements/core_label.html">
<link rel="import" href="../../../../../packages/core_elements/core_list_dart.html">
<link rel="import" href="../../../../../packages/core_elements/core_image.html">
<link rel="import" href="../../../../../packages/paper_elements/paper_icon_button.html">
<polymer-element name="sections-view">

    <template>
        <style>
            :host {
                width: 100%;
                max-height: 100%;
                display: block;
                height: 100%;
                overflow-y: scroll;
                -webkit-overflow-scrolling: touch;
            }

            core-list-dart {
                display: block;
                max-width: 100%;
                min-height: 100px;
            }

            .section-list-item {
                padding: 1.25px 2.5px;
                border-bottom: 1px darkgrey solid;
            }

            .section-list-item .list-item-image {
                height: 75px;
                width: 75px;
            }

            span.lightGrey {
                color: lightgrey;
            }

            span.text-bold {
                font-weight: bold;
            }

            div.item-information {
                margin-left: 5px;
                font-size: 9pt;
            }

        </style>

        <core-list-dart flex
                        fit
                        id="section-list"
                        data="{{data}}"
                        selectionEnabled="true"
                        selection="{{selection}}"
                        height="80"
                        on-core-activate="{{handleListChange}}">

            <!--Templates for different types of data streams-->
            <template>
                <div>
                    <template if="{{model.templateType == 'artistTemplate'}}">
                        <div class="section-list-item" horizontal center justified layout>
                            <core-image class="list-item-image" src="{{model.artist_image_url}}" style="background:Gray" sizing="cover" preload="true" fade="true"></core-image>
                            <div class="item-information" flex four>
                                <core-label>
                                    <span class="text-bold">{{model.name}}</span>
                                </core-label><br>
                                <core-label>
                                    <span class="text-bold">{{model.album_count}}</span> albums, <span class="text-bold">{{model.song_count}}</span> songs
                                </core-label>
                            </div>
                        </div>
                    </template>
                    <template if="{{model.templateType == 'albumTemplate'}}">
                        <div class="section-list-item" horizontal center justified layout>
                            <core-image class="list-item-image" src="{{model.album_image_url}}" style="background:Gray" sizing="cover" preload="true" fade="true"></core-image>
                            <div class="item-information" flex four>
                                <core-label>
                                    <span class="text-bold">{{model.title}}</span>
                                </core-label><br>
                                <core-label>
                                    {{model.artist.name}}
                                </core-label><br>
                                <core-label>
                                    <span class="text-bold">{{model.song_count}}</span> songs, <span class="text-bold">{{model.length}}</span> min
                                </core-label>
                            </div>
                        </div>
                    </template>
                    <template if="{{model.templateType == 'songTemplate'}}">
                        <div class="section-list-item" horizontal center justified layout>
                            <core-image class="list-item-image" src="{{model.album_image_url}}" style="background:Gray" sizing="cover" preload="true" fade="true"></core-image>
                            <div class="item-information" flex four>
                                <core-label>
                                    {{model.title}}
                                </core-label><br>
                                <core-label>
                                    <span class="text-bold">{{model.artist_name}}</span> <span class="lightGrey">{{model.album_title}}</span>
                                </core-label>
                            </div>
                        </div>
                    </template>
                    <template if="{{model.templateType == 'playlistTemplate'}}">
                        <div class="section-list-item" horizontal center justified layout>
                            <core-image class="list-item-image" src="{{model.artist_image_url}}" style="background:Gray" sizing="cover" preload="true" fade="true"></core-image>
                            <div class="item-information" flex four>
                                <core-label>
                                    {{model.name}}
                                </core-label><br>
                                <core-label>
                                    <span class="text-bold">{{model.song_count}}</span> songs, <span class="text-bold">{{model.length}}</span> min
                                </core-label>
                            </div>
                        </div>
                    </template>
                </div>
            </template>

        </core-list-dart>
    </template>
    <script type="application/dart" src="sections-view.dart"></script>
</polymer-element>