<link rel="import" href="../../../../../packages/polymer/polymer.html">
<link rel="import" href="../../../../../packages/core_elements/core_toolbar.html">
<link rel="import" href="../../../../../packages/core_elements/core_label.html">
<link rel="import" href="../../../../../packages/paper_elements/paper_tabs.html">
<link rel="import" href="../../../../../packages/paper_elements/paper_icon_button.html">
<polymer-element name="sections-header">

    <template>
        <style>
            paper-tabs {
                background-color: #f2f2f2;
                color: #000;
                box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
            }

            core-toolbar {
                font-size: 15pt !important;
                background-color: #D64541;
                color: ghostwhite;
            }


            paper-tabs::shadow #tabsContainer #tabsContent #selectionBar {
                background-color: #c0392b;
            }

            paper-tabs paper-tab::shadow #ink #ink {
                color: #c0392b;
            }

            :host {
                position: fixed;
                top: 0;
                left: 0;
                z-index: 9999;
                display: block;
                width: 100%;
                height: 112px;
            }
        </style>

        <core-toolbar class="small">
            <div flex horizontal center-justified layout>
                <core-label>{{top_bar_title}}</core-label>
            </div>
        </core-toolbar>
        <div class="bottom fit" horizontal layout>
            <paper-tabs id="sections-header-tabs" selected=0 noslide on-core-select="{{goToSectionWithClick}}" flex noink>

                <paper-tab>Artists</paper-tab>
                <paper-tab>Albums</paper-tab>
                <paper-tab>Songs</paper-tab>
                <paper-tab>Playlists</paper-tab>

            </paper-tabs>
        </div>
    </template>
    <script type="application/dart" src="sections-header.dart"></script>
</polymer-element>