$font-stack:    RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
$primary-color: #f2f2f2;

.semi-hidden {
  opacity: 0;
}

::-webkit-scrollbar {
  display: none;
}

* {
//  -webkit-transition: opacity 200ms;
//  -moz-transition: opacity 200ms;
//  -ms-transition: opacity 200ms;
//  -o-transition: opacity 200ms;
//  transition: opacity 200ms;

  /* prevent callout when holding tap on links (the native dialog that comes up) */
  -webkit-touch-callout: none;

  /* prevent webkit from resizing text to fit */
  -webkit-text-size-adjust: none;

  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  /* prevent copy paste, to allow, change 'none' to 'text' */
  -webkit-user-select: none;
}

// turn off webkit checkbox style, works for other inputs too
input[type="checkbox"] { -webkit-appearance: none; }

// placeholder text opacity
input::-webkit-input-placeholder { opacity: .8; }

body, html {
  -webkit-overflow-scrolling: touch;
  font: 100% $font-stack;
  background-color: $primary-color;
  width: 100%;
  height: 100%;
}

section#main {
  padding-top: 112px;
  padding-bottom: 54px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

section#main > * {
  -webkit-transform: translate3d(0,0,0);
}

section#main > #general-messages {
  bottom: 0;
  left: 10%;
  width: 80%;
  z-index: 999;
}