#top_header {
    background-color: #262a2d;
    width: 100%;
    height: 51px;
    display: block;
}

.settings-dropdown-menu, #current-username-text {
    float: right;
    height: 100%;
    color: #ecf0f1;
    font-size: 15px;
    margin-right: 20px;
}

#current-username-text {
    margin-top: 16px;
    height: 70%;
}

.settings-dropdown-menu p.dropdown-toggle {
    margin-top: 13px;
    font-size: 20px;
}

.settings-dropdown-menu p.dropdown-toggle:hover {
    cursor: pointer;
}

.dropdown-menu, .dropdown-menu-right {
    margin-top: 0px !important;
    border-radius: 0px;
    min-width: 100px;
}

.dropdown-menu {
    top: 50px !important;
}

.dropdown-menu-right li {
    text-align: right;
}