h1.main-logo {
    font-size: 115px;
    color: #ffffff;
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-top: 62px;
}

h2.main-logo-inner {
    font-size: 38px;
    color: #ac3b33;
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-top: -75px;
}

div.login-spacer {
    height: 21px;
    width: 100%;
    display: block;
}

div#login-container {
    width: 295px;
    min-height: 245px;
    display: block;
    margin: 0 auto;
    margin-top: 82px;
    background-color: #ffffff;
}

div#register-container {
    width: 295px;
    min-height: 264px;
    display: block;
    margin: 0 auto;
    margin-top: 82px;
    background-color: #ffffff;
}

div#login-container h2, div#register-container h2 {
    font-size: 17px;
    text-align: center;
    position: relative;
    top: 44px;
    color: #646464;
}

form.login-form {
    width: 255px;
    margin: 0 auto;
    margin-top: 71px;
    padding-bottom: 44px;
}

form.login-form input.login-form-input {
    width: 100%;
    border: 1px solid #646464;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 6px;
    padding-bottom: 3px;
    margin-top: -1px;
}

form.login-form input.login-form-button {
    margin: 0 auto;
    display: block;
    position: relative;
    margin-top: 20px;
}