
#music-artists-container {
    top: 125px;
    position: relative;
    max-width: 100%;
    white-space: nowrap;
    display: inline-block;
    overflow: auto;
    overflow-y: hidden;
    height: 300px;
}

.music-artist-container {
    height: 299px;
    width: 225px;
    background-color: #ffffff;
    margin-left: 48px;
    display: inline-block;
    vertical-align: top;
}

.music-artist-container:first-child {
    margin-left: 51px;
}

.music-artist-container h3 {
    text-align: center;
    margin-top: 13px;
    font-size: 14px;
}

.music-artist-container p {
    text-align: center;
    margin-top: 23px;
    font-size: 8px;
}

.music-artist-container p span {
    margin-right: 3px;
}

.music-artist-albums-container {
    width: 100%;
    min-height: 225px;
    display: block;
}

.music-artist-albums-container img {
    float: left;
    width: 105px;
    height: auto;
    margin-top: 5px;
    margin-left: 5px;
}

#music-upload-container {
    cursor: pointer;
    margin-left: 14px;
    margin-top: 16px;
    display: block;
    width: 205px;
    font-size: 19px;
    color: white;
}

#music-upload-container span {
    vertical-align: sub;
    font-size: 30px;
}

.dz-preview,
.dz-file-preview, 
.dz-processing, 
.dz-error {
    display: none;
    width: 0px;
    height: 0px;
}