<link rel="import" href="../../../../../packages/polymer/polymer.html">
<link rel="import" href="../../../../../packages/core_elements/core_label.html">
<link rel="import" href="../../../../../packages/core_elements/core_list_dart.html">
<link rel="import" href="../../../../../packages/core_elements/core_image.html">
<link rel="import" href="../../../../../packages/paper_elements/paper_icon_button.html">
<link rel="import" href="../../../../../packages/core_elements/core_style.html">
<polymer-element name="artist-sections-view">

    <template>
        <core-style ref="section-view-style"></core-style>
        <core-list-dart flex
                        fit
                        class="list-component"
                        data="{{data}}"
                        selectionEnabled="true"
                        selection="{{selection}}"
                        height="80"
                        runwayFactor="10"
                        on-core-activate="{{handleListChange}}">

            <template>
                <div class="section-list-item {{ {selected: selected} }}" horizontal center justified layout>
                    <core-image class="list-item-image" src="{{model.artist_image_url}}" style="background:Gray" sizing="cover" preload="true" fade="true"></core-image>
                    <div class="item-information" flex four>
                        <core-label>
                            <span class="text-bold">{{model.name}}</span>
                        </core-label><br>
                        <core-label>
                            <span class="text-bold">{{model.album_count}}</span> albums, <span class="text-bold">{{model.song_count}}</span> songs
                        </core-label>
                    </div>
                </div>
            </template>

        </core-list-dart>


    </template>
    <script type="application/dart" src="artist-sections-view.dart"></script>
</polymer-element>