<link rel="import" href="../../../../../packages/polymer/polymer.html">
<polymer-element name="section-view">

    <!--Everything is overwritten and the styles are in an external style sheet (section-view-style.html)-->

    <script type="application/dart" src="section-view.dart"></script>
</polymer-element>