<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content = "width = device-width, initial-scale = 1, user-scalable = no" />
    <title>Cloud Music</title>
    <link rel="stylesheet" href="packages/bootjack/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="import" href="packages/polymer/polymer.html">
    <link rel="import" href="../lib/app/UI/Sections/sections-view.html">
    <link rel="import" href="packages/cloud_music/app/UI/Now-Playing/now-playing.html">
    <link rel="import" href="packages/cloud_music/app/UI/Sections-Header/sections-header.html">
    <link rel="import" href="packages/bwu_fontawesome_iconset_svg/bwu_fontawesome_iconset_svg.html">
    <link rel="import" href="packages/paper_elements/paper_toast.html">
</head>
<body unresolved>
    <section id="main">
        <!--This is here so I can use FontAwesome icons with the icon attribute in Polymer-->
        <bwu-fontawesome-iconset-svg></bwu-fontawesome-iconset-svg>
        <sections-header></sections-header>
        <sections-view id="main-section"></sections-view>
        <now-playing id="now-playing"></now-playing>
        <paper-toast id="general-messages">
            <!--Create a subclass of this so I can provide a retry button for the network request-->
            <!--<div style="color: white;" on-tap="{{retry}}">Retry</div>-->
        </paper-toast>
    </section>

    <script src="assets/js/main.js" type="text/javascript"></script>
    <script src="assets/js/sha256.js" type="text/javascript"></script>
    <script src="packages/browser/dart.js"></script>
    <script type="application/dart" src="app/main.dart"></script>
</body>
</html>