{% block header %}
    <header id="top_header">
{% endblock header %}
{% block end_header %}
        <div class="settings-dropdown-menu">
            <p class="fa fa-gear dropdown-toggle" id="menu-dropdown-menu-button" data-toggle="dropdown" aria-expanded="true"></p>
            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Settings</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/dashboard/logout">Logout</a></li>
            </ul>
        </div>
        <p id="current-username-text">{{ current_user.username }}</p>
        <div class="clearfix"></div>
    </header>
{% endblock end_header %}