{% extends "bootstrap/base.html" %}
{% block metas %}
    {{ super() }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
{% endblock metas %}
{% block title %}CloudMusic -{% endblock title %}
{% block styles %}
    {{ super() }}
    <link href="../static/css/main.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
{% endblock styles %}
{% block body %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class=flashes>
                {% for message in messages %}
                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    {% block header %}
    {% endblock header %}
    {% block end_header %}
    {% endblock end_header %}
        <div id="container">
            {% block container %}

            {% endblock container %}
            <div class="clearfix"></div>
        </div>
    {{ super() }}
{% endblock body %}