{% extends "base.html" %}
{% from "_formHelper.html" import render_field %}
{% block title %}{{ super() }} Login{% endblock title %}
{% block styles %}
    {{ super() }}
    <link href="../static/css/login.css" rel="stylesheet">
{% endblock styles %}
{% block container %}
    {{ super() }}
    {% include "_logo.html" %}
    <div id="login-container">
        <h2>Login to your account</h2>
        <form method=post action="/dashboard/login" class="login-form">
            {{ form.hidden_tag() }}
            <input name="next" id="next" value="{{ _next }}" style="display: none; visibility: hidden;"/>
            {{ render_field(form.username, placeholder="Username", class="login-form-input", required=required) }}
            {{ render_field(form.password, placeholder="Password", class="login-form-input", required=required) }}
            {{ render_field(form.login, class="btn btn-default login-form-button") }}
        </form>
    </div>
{% endblock container %}
{% block body %}
    {{ super() }}
    <script src="../static/js/sha256.js"></script>
    <script src="../static/js/forms.js"></script>
{% endblock body %}