{% extends "base.html" %}
{% from "_musicHelper.html" import render_artist %}
{% block title %}{{ super() }} Music{% endblock title %}
{% block styles %}
    {{ super() }}
    <link href="../static/css/header.css" rel="stylesheet">
    <link href="../static/css/music.css" rel="stylesheet">
{% endblock styles %}
{% block body %}
    {% include "_header.html" %}
    {% block header %}
    {% endblock header %}
    {{ super() }}
    <script src="../static/js/dropzonejs.js" type="text/javascript"></script>
    <script src="../static/js/musicHelper.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            createUploadDropZone();
            getArtists();
        });
    </script>
{% endblock body %}
{% block container %}
    {{ super() }}
    <div id="music-upload-container">
        <div class="dz-preview dz-file-preview dz-processing dz-error"></div>
        <p><span class="fa fa-cloud-upload"></span> Drop to Upload</p>
    </div>
    <ul id="music-artists-container"></ul>
{% endblock container %}