{% extends "base.html" %}
{% from "_formHelper.html" import render_field %}
{% block title %}{{ super() }} Register{% endblock title %}
{% block styles %}
    {{ super() }}
    <link href="../static/css/login.css" rel="stylesheet">
{% endblock styles %}
{% block container %}
    {{ super() }}
    {% include "_logo.html" %}
    <div id="register-container">
        <h2>Register for an account</h2>
        <form method=post action="/dashboard/register" class="login-form">
            {{ form.hidden_tag() }}
            {{ render_field(form.username, placeholder="Username", class="login-form-input", required=required) }}
            {{ render_field(form.password, placeholder="Password", class="login-form-input", required=required) }}
            {{ render_field(form.pinCode, placeholder="PIN Code", class="login-form-input", required=required) }}
            {{ render_field(form.register, class="btn btn-default login-form-button") }}
        </form>
    </div>
{% endblock container %}
{% block body %}
    {{ super() }}
    <script src="../static/js/sha256.js"></script>
    <script src="../static/js/forms.js"></script>
{% endblock body %}